body {
    background: #212121 !important;
    color: #AEAEAE !important;
}

.ui.segment{
    background: transparent !important;
}

.ui.divider {
    border-bottom: none !important;
}

.intro {
    font-size: 1.33rem !important;
    line-height: 3.3rem !important;
    padding: 3rem !important;
}

.side-note {
    font-size: 1.1rem !important;
    line-height: 2rem !important;
    padding: 3rem !important;   
}

.my-work {
    background: inherit !important;
    margin: 2.5em 0 !important;
    border: thin solid #333 !important;
    box-shadow: none !important;
}

    .my-work:hover {
        box-shadow: 0 0 5px #777 !important;
    }

    .my-work * {
        color: #AEAEAE !important;
    }

    .my-work .tech-stack i {
        font-size: 2.7rem !important;
        margin: 0 0.7rem !important;
        color: #AEAEAE !important;
    }

    .my-work .extra-info {
        background: #333 !important;
        color: white !important;
    }


.ui.header {
    color: inherit !important;
}

.masthead {
    background: transparent !important;
    margin: 7% !important;
}

.the-dot {
    font-size: 3.3rem !important;
    margin: 1.1em !important;
}

.the-name {
    font-size: 3.3rem !important;
    margin: 0.7em !important;   
}

.headline {
    font-size: 28px !important;
}

.icon-segment {
    font-size: 3.3rem !important;
    margin: 1.1em 0 0.1em 0 !important;
}

.icon-segment a {
    display: inline-block;
    border: thin solid transparent;
    color: inherit !important;
    text-decoration: none !important;

    padding: 2.2rem 1.1rem 1.1rem !important;
}

.icon-segment a:hover {
    border: thin solid #555 !important;
}

.icon-segment i.icon {
    /*margin: 0.7rem !important;*/
}

.divider {
    background: #555 !important;
    margin: 2% 5% !important;
}