body {
    background: #212121 !important;
    color: #AEAEAE !important;
}

.ui.segment{
    background: transparent !important;
}

.ui.card {
    background: inherit !important;
    margin: 2.5em 0 !important;
    border: thin solid #555 !important;
    box-shadow: none !important;
}

    .ui.card .project-info * {
        color: #AEAEAE !important;
    }

    .ui.card .extra.content i {
        font-size: 3.3rem !important;
    }

.ui.header {
    color: inherit !important;
}

.masthead {
    background: transparent !important;
    margin: 7% !important;
}

.the-dot {
    font-size: 3.3rem !important;
    margin: 1.1em !important;
}

.the-name {
    font-size: 3.3rem !important;
    margin: 0.7em !important;   
}

.headline {
    font-size: 28px !important;
}

.icon-segment {
    font-size: 3.3rem !important;
    margin: 1.1em 0 0.1em 0 !important;
}

.icon-segment a {
    display: inline-block;
    border: thin solid transparent;
    color: inherit !important;
    text-decoration: none !important;

    padding: 2.2rem 1.1rem 1.1rem !important;
}

.icon-segment a:hover {
    border: thin solid #555 !important;
}

.icon-segment i.icon {
    /*margin: 0.7rem !important;*/
}

.divider {
    background: #555 !important;
    margin: 2% 5% !important;
}