/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('./fonts/open-sans-v18-latin/open-sans-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/open-sans-v18-latin/open-sans-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



body {
  font-family: 'Open Sans';
  background: rgb(204, 204, 204);
}

a {
    text-decoration: none;
    color: inherit;
    text-underline-position: under;
}

page {
  background: white;
  display: block;

  margin: 1% auto 1% auto;
  /* padding: 1cm 1.3cm 1cm 1.3cm; */

  line-height: 1.4em;
  text-align: left;
}

page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}

.name {
  font-size: 2.1rem;
  font-weight: bold;
  margin-bottom: 1.1rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.flex {
  display: flex;
  flex: 1;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  color: steelblue;
  text-decoration: underline;
  font-size: 18px;
}

.email {
  font-size: 18px;
}

.about-info {
  line-height: 1.5em;
  margin: 1em 0;
  font-size: 18px;
}

.porumai {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.section {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 1rem;
}

.section .heading {
  font-size: 18px;
  font-weight: bold;
}

.porumai .work, .porumai .projects {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.porumai .projects {
  padding-left: 1rem;
}

.project {
  margin: 1rem 0;
}

.project .about {
  margin: 0.5rem 0;
  font-size: 18px;
}





