body {
  background: rgb(204, 204, 204);
}

a {
    text-decoration: none;
    color: inherit;
}

page {
  background: white;
  display: block;

  margin: 1% auto 1% auto;
  padding: 1cm 1.3cm 1cm 1.3cm;

  line-height: 1.4em;
  text-align: left;
}

page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}

.name {
  font-size: 2.1rem;
  font-weight: bold;
  margin-bottom: 1.1rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.flex {
  display: flex;
  flex: 1;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  color: steelblue;
  text-decoration: underline;
  font-size: 20px;
}

.about-info {
  line-height: 1.5em;
  margin: 1em 0;
  font-size: 23px;
}
